@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --black: rgb(8, 8, 8);
    --white: white;
    --gray: rgb(144, 144, 144);
    --prata: 'Prata', serif;
    --inter: 'Inter', sans-serif;
}
*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Inter', sans-serif;
    background-color: var(--black);
}

a {
    text-decoration: none;
  }
  .site-header { 
    padding: 2em 3em;
    display: flex;
    justify-content: space-between;
  }
  
  .site-identity h1 {
    font-size: 1.5em;
    margin: .6em 0;
    display: inline-block;
    font-family: var(--prata);
  }

  .site-identity h1 a{
    color: var(--white);
  }
 
  
  .site-navigation ul, 
  .site-navigation li {
    margin: 0; 
    padding: 0;
  }

  .site-navigation ul li a {
    color: var(--gray);
  }
  
  .site-navigation li {
    display: inline-block;
    margin: 1.4em 1em 1em 1em;
  }

  .site-header button{
    color: var(--black);
    background-color: rgb(255, 224, 48);
    border: none;
    padding: 1em;
    font-family: var(--prata);
    font-size: 1em;
    height: 5%;
  }

  .container1{
    padding: 3em;
  }

  .container1 h1{
    color: var(--white);
    font-family: var(--prata);
    font-size: 3.2rem;
  }

  .container1 h2{
    color: var(--gray);
    font-family: var(--inter);
    font-weight: 300;
    font-size: 0.95rem;
    text-wrap:wrap;
    inline-size: 35em;
    padding: 0.9em 0em;
  }

  .container-logos{
    padding: 3em;
    display: flex;
    justify-content: space-between;
  }


.section-container{
    display: flex;
    font-family: var(--prata);
}

.section-container a{
    color: var(--white);
    text-decoration: none;
}

.section-container h2{
    color: var(--gray);
    font-family: var(--inter);
    font-weight: 300;
    font-size: 1.2rem;
}

.first-section, .second-section{
    padding: 1em 7em 1em 3em;
}

.first-section img {
    padding-bottom: 1em;
}

.second-section img{
  padding-bottom: 3em;
}

.first-section h2, .second-section h2{
    padding-top: 1em;
}

.second-section h2{
    padding-bottom: 1em;
}

.description-container{
    background-color: rgb(44, 46, 51);
    color: var(--white);
    display: flex;
    flex-shrink: 0;
}

.description-container > *{
    flex: 1;
}

.description-text, .description-text2{
    padding: 3em;
}

.description-text h1{
    font-family: var(--prata);
    color: var(--white);
    padding-bottom: 1em;
}

.description-text h2{
    color: var(--gray);
    font-family: var(--inter);
    font-weight: 300;
    line-height: 1.3;
    font-size: 1.2rem;
    padding-bottom: 1em;
}

.description-text2 h2{
    color: var(--gray);
    font-family: var(--inter);
    font-weight: 300;
    line-height: 1.3;
    font-size: 1.2rem;
    padding-bottom: 1em;
}

.last-section-box {
    padding: 3em;
}

.last-section-box h1{
    color: var(--white);
    font-family: var(--prata);
    padding-bottom: 1em;
    font-size: 2.1em;
}

.last-section-box h2{
    color: var(--gray);
    font-weight: 300;
    font-size: 1.2rem;
    padding-bottom: 2em;
    width: 41%;
}

.last-section-box button{
    color: var(--black);
    background-color: rgb(255, 224, 48);
    border: none;
    padding: 1em;
    font-family: var(--prata);
    font-size: 1.1em;
    height: 5%;
}

.footer {
    padding: 3em;
    background-color: rgb(44, 46, 51);
    display: flex;
    justify-content: space-between;
}

.footer a{
    font-size: 1.2em;
    font-family: var(--prata);
    color: var(--white);
}

.footer-img img{
    padding-left: 1em;
}

.second-section img, .first-section img{
  display: block;
    width: 100%;
}



@media only screen and (max-width: 35em) {
    .section-container{
      display: block;
    }
  
}

@media only screen and (max-width: 828px){
  .container-logos{
    display: block;
  }
}

